@charset "utf-8";
/* CSS Document for the styling of index.html */

@import url("fonts.css");

html {
    height: 100%;
    overflow-y: scroll;

}
    body {
      height:100%;
      margin: 0px auto;
      text-align:center;
      background-color: #DDC1D7;
    }

        #topBar {
          height: 5px;
          width: 100%;
          margin: auto;
          background-color: #2C1414;
          position: fixed;
          z-index: 100;
        }

        h1 {
            font-family: 'kenyanCoffee';
            font-size: 64px;
            letter-spacing: 10px;
            color: #E45C44;
            margin-bottom: 10px;
            font-weight: normal;
        }

        h2 {

        }

        h3 {
            font-family: 'Roboto', sans-serif;
            font-size: 24px;
            margin-top: 10px;
            color: #2C1414;
        }

        h4 {
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            margin-top: 10px;
            color: #2C1414;
        }

        p {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 500;
            color: #7C4948;
            text-align: left;
            line-height: 150%;

            padding-top: none;
            z-index: 10;
        }
        b {
            font-weight: 900;
            color: #2C1414;

        }

        .link-button {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            font-weight: 400;
            color: #2C1414;
            display: block;
            width: 50%;
            max-width: 275px;
            min-width: 125px;
            margin: 25px auto 25px auto;

            padding: 12.5px 15px;

            border: 5px solid #2C1414;
            border-radius: 3000px;
            text-decoration: none;
            z-index: 25;
        }

        .link-button:hover {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            font-weight: 900;
            color: #E45C44;

            padding: 12.5px 15px;

            border: 5px solid #E45C44;
            border-radius: 3000px;
            text-decoration: none;
        }

        header {
            padding-top: 200px;
            padding-bottom: 0px;
            background-color: #DDC1D7;
        }

        #homeNav {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            padding: 50px 5% 50px 5%;
            width: 75%;
            min-width: 450px;
            margin: auto;
        }

            .navButt {
                padding: 25px;
                /*max-width: 130px;*/
                /*width: 130px;*/
                width: 30%;
                height: 200px;
                flex-basis: 0;
                flex-grow: 1;

            }

                .navButt img {
                    display: block;
                    position: relative;
                    margin: auto;
                    width:100%;
                    height: auto;
                    max-width: 127px;
                    border-radius: 50%;
                    background-color: #FAD6C0;
                }

                .navButt h3 {
                    display: inline-block;
                    text-align: center;
                    margin: 25px auto 10px auto;
                    display:none;
                }


        #speechTriangle {
            width: 0;
            height: 0;
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
            border-bottom: 35px solid white;
            position: relative;
            left: 200px;
            bottom: 25px;
            display: none;
        }

        #content {
            width: 100%;
            /*background-color: #DDC1D7;*/
            background-color: white;
            position: relative;
            bottom: 30px;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 50px;
            display: none;
            margin-top: none;
            z-index: -15;
        }

        .polkaDots {
            background-image: url("../img/pattern_polkaDot_16Nov6.png");
            background-repeat: repeat;
            background-size: 50px 50px;
        }

        .contentFlexBox {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
        }

            .previewDesc {
                width: 100%;
                margin: 100px auto 0 auto;
                text-align: center;
                color: #E45C44;
            }

            .previewFlexBox {
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                align-content: center;
                padding: 50px 5% 50px 5%;
                width: 90%;
            }

                .aboutColumn {
                    width:  45%;
                    min-width: 280px;
                    margin-bottom: 50px;
                    padding-left: 1%;
                    padding-right: 1%;
                }

                #aboutCol1{
                }

                    #profilePic {
                        display: block;
                        margin: auto;
                        width: 85%;
                        height: auto;
                    }


                #aboutCol2{
                }

                    #aboutCol2 h4 {
                        margin-bottom: 35px;
                    }

            #resumePreview {
                width: 90%;
            }

                .abilities {
                    padding: 25px 25px 50px 25px;
                }

                    .abilities img {
                        display: block;
                        margin: auto;
                    }

                    .abilities p {
                        text-align: center;
                        margin: 15px auto 0 auto;
                    }

                .portfolioColumns {
                    padding: 15px;
                }

                #portfolioCol1 {
                    flex-basis: 0;
                    flex-grow: 2;
                    min-width: 400px;
                }

                    #slideShow {
                        max-width: 450px;
                        margin: auto;
                        width: 90%;
                        position: relative;
                    }

                    #slideShow img {
                        width: 100%;
                        height: auto;
                        display: block;
                    }

                    .slides {
                        display: none;
                    }

                    #prevSlide, #nextSlide {
                        cursor: pointer;
                        /*position: relative;*/
                        position: absolute;
                        top: 45%;
                        width: auto;
                        color: white;
                        font-size: 24px;
                        font-weight: 900;
                        line-height: 0px;
                        padding: 25px 10px;
                        opacity: 0.75;
                        z-index: 25;
                    }

                    #prevSlide {
                        left: 5px;
                    }

                    #nextSlide {
                        right: 5px;
                    }

                    #prevSlide:hover, #nextSlide:hover {
                        background-color: #E45C44;
                        transition: background-color 0.5s ease;
                        opacity: 0.95;
                        transition: opacity 0.5s ease;
                    }

                    .slideIndex {
                        color: white;
                        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
                        font-family: 'Roboto', sans-serif;
                        font-size: 12px;
                        position: absolute;
                        bottom: 0;
                        padding: 8px 12px;
                    }

                    .dot {
                        cursor: pointer;
                        height: 15px;
                        width: 15px;
                        border-radius: 50%;
                        margin: 15px 5px;
                        display: inline-block;
                        background-color: #DDC1D7;
                        transition: background-color 0.5s ease;
                    }

                    .activeDot, .dot:hover {
                        background-color: #E45C44;
                        /*transition: background-color 0.5s ease;*/
                    }

                    .fade {
                        -webkit-animation-name: fade;
                        -webkit-animation-duration: 1.5s;
                        animation-name: fade;
                        animation-duration: 1.5s;
                    }

                    @-webkit-keyframes fade {
                      from {opacity: .4}
                      to {opacity: 1}
                    }

                    @keyframes fade {
                      from {opacity: .4}
                      to {opacity: 1}
                    }
                #portfolioCol2 {
                    flex-basis: 0;
                    flex-grow: 1;
                    min-width: 225px;
                    padding: 15px 30px;
                }


/*MEDIA QUERIES*/

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    /** { border: solid red 1px;}*/

    header {
        padding-top: 50px;
        margin-bottom: 50px;
    }

    header h3 {
        font-size: 6.0vw;
    }

    #homeNav {
        padding: 0;
        /*width: 300px;*/
        min-width: 300px;
        max-width: 480px;
        flex-wrap: nowrap;
    }

        .navButt {
            padding: 2% 0 25px 0;
            width: 25%;
            min-width: 100px;
        }

        .navButt a img {
            width: 75%;
            height: auto;
        }

        .navButt h3 {
            font-size: 5.0vw;
            /*display: block;*/
        }

    .contentFlexBox {
        padding: 2px;
    }

    #prevSlide, #nextSlide {
        display: none;
    }
}
