@charset "utf-8";
/* CSS Document for the styling of index.html */

@import url("fonts.css");

html {
    height: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
}
/**, *:before,*:after {
  box-sizing: inherit;
}*/
    body {
      height:100%;
      margin: 0px auto;
      position: relative;
    }

        #topBar {
          height: 5px;
          width: 100%;
          margin: auto;
          background-color: #2C1414;
          position: fixed;
          z-index: 100;
        }

        h1 {
            font-family: 'kenyanCoffee';
            font-size: 36px;
            letter-spacing: 3px;
            color: #E45C44;
            margin-bottom: 10px;
            font-weight: normal;
        }

        h2 {
            font-family: 'kenyanCoffee';
            font-size: 24px;
            letter-spacing: 2px;
            color: #E45C44;
            font-weight: 500;
        }

        h3 {
            font-family: 'Roboto', sans-serif;
            font-size: 24px;
            margin-top: 10px;
            color: #2C1414;
        }

        h4 {
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            margin-top: 10px;
            color: #2C1414;
        }

        h5 {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 600;
            margin-top: 10px;
            display: inline;
            color: #2C1414;
        }

        p {
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 500;
            color: #7C4948;
            text-align: left;
            line-height: 150%;

            padding-top: 0;
            /*z-index: 10;*/
        }
            p a {
                color: #E45C44;
                text-decoration: none;
            }

            p a:hover {
                color: #E45C44;
                text-decoration: underline;
            }

        b {
            font-weight: 900;
            color: #2C1414;

        }

        .link-button {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            font-weight: 400;
            color: #2C1414;

            padding: 12.5px 15px;

            border: 5px solid #2C1414;
            border-radius: 3000px;
            text-decoration: none;
        }

        .link-button:hover {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            font-weight: 900;
            color: #E45C44;

            padding: 12.5px 15px;

            border: 5px solid #E45C44;
            border-radius: 3000px;
            text-decoration: none;
        }


            header{
                height: 60px;
                /*height: 10%;
                min-height: 60px;
                max-height: 80px;*/
                width: 100%;
                margin: auto;
                background-color: #FAD6C0;
                /*background: rgba(255, 255, 255, 0.85);*/
                position: fixed;
                top: 5px;
                z-index: 10;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

                display: flex;
                justify-content: space-between;

            }

                #headerLogoContainer {
                    height: 100%;
                    width: auto;
                    display: flex;
                    justify-content: space-between;
                    margin: 0px;

                    /*background-color: #2C1414;*/
                    transition: background-color 0.5s ease;
                    background-color: #FFFFFF;
                }

                #headerLogoContainer:hover {
                    transition: background-color 0.5s ease;
                    background-color: #E45C44;
                }

                    #headerLogo {
                        height: 90%;
                        padding-left: 10px;
                        object-fit: contain;
                        align-self: center;
                    }

                    #speechTriangle {
                        width: 0;
                        height: 0;
                        border-top: 15px solid transparent;
                        border-bottom: 15px solid transparent;
                        border-right: 25px solid #FAD6C0;
                        display: inline-block;
                        position: relative;
                        left: 2px;
                        align-self: center;
                        /*flex-grow: 2;*/
                    }

                #mainNav {
                    /*float: right;*/
                    position: relative;
                    display: flex;
                    align-items: center;
                    margin-right: 25%;
                }

                #mainNav .navButtContainer {
                    display: flex;
                    align-items: center;
                    height: 95%;
                }

                    #mainNav a {
                        font-family: 'Roboto', sans-serif;
                        text-decoration: none;
                        color: #2C1414;
                        transition: color 0.5s ease;
                        font-size: 16px;
                        font-weight: 500;
                        list-style: none;
                        text-align: center;
                        padding-left: 15px;
                        padding-right: 15px;
                        display: block;
                    }

                    #mainNav a:hover {
                        color: #E45C44;
                        transition: color 0.5s ease;
                    }

                    #navButtContainerActive {
                        border-bottom: 5px solid #E45C44;
                    }

                #hamburgerButton {
                    width: 3%;
                    max-width: 30px;
                    min-width: 20px;
                    /*z-index: 11;*/
                    position: relative;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    margin-right: 2%;
                    float: right;

                    /*set to block on mobile*/
                    display: none;
                }

                    .hamburgerThird {
                        background-color: #2C1414;
                        height: 5px;
                        width: 100%;
                        margin-bottom: 5px;
                    }

                    .hamburgerThirdActive {
                        background-color: #E45C44;
                    }

                #nameTitle{
                    margin: 0px;
                    float: left;
                    padding-left: 35px;
                    position: relative;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                }


            #contentWrapper {
                /*height: 90%;*/
                width: 100%;
                position: absolute;
                top: 60px;
            }

                #sideBar{
                    position: fixed;
                    right: -175px;
                    /*left: -175px;*/
                    width: 150px;
                    height: 100%;
                    /*background-color: #DDC1D7;*/
                    background-color: #FAD6C0;
                    /*border-left: 2px solid #E45C44;*/
                    z-index: 15;

                    text-align: center;
                }

                    #hamburgerNav {
                        height: auto;
                    }

                    #hamburgerNav ul {
                        list-style: none;
                        width: 100%;
                        height: auto;
                        padding: 0px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                    }

                        #hamburgerNav ul li {
                            width: 100%;
                            padding: 10px 0px 10px 0px;
                            /*border-bottom: 2px solid #E45C44;*/
                        }

                            #hamburgerNav  ul li a{
                                font-family: 'Roboto', sans-serif;
                                text-decoration: none;
                                color: #2C1414;
                                font-size: 16px;
                                font-weight: 500;
                                list-style: none;
                                text-align: center;
                            }

                            #hamburgerNav ul li a:hover{
                                color: #E45C44;
                            }

                        #hamburgerNav ul ##hamburgerNavButtActive {
                            background-color: #E45C44;
                        }

                            #hamburgerNav ul ##hamburgerNavButtActive a:hover{
                                color: #DDC1D7;
                            }

                    #backHomeButt {
                        position: absolute;
                        bottom: 15%;
                        right: 27%;
                        font-size: 75px;
                        font-weight: 700;
                        border-style: none;
                        width: 40px;
                    }

                    #backHomeText {
                        position: absolute;
                        bottom: 10%;
                        text-align: center;
                        margin-left: auto;
                        margin-right: auto;
                        width: 100%;
                        opacity: 0;
                    }

                /*AJAX content styling*/
                #mainContent{
                    /*padding: 15px 15px 0px 15px;*/
                    /*border-right: medium solid #E45C44;*/
                    margin: auto;
                    left: 0;
                    right: 0;
                    position: absolute;
                    padding: 10px 0 0 0;
                    /*width: 85%;*/
                    width: 100%;
                    height: auto;
                }

                    #container {
                        width: 85%;
                        margin: auto;
                    }

                .contactMePromptA {
                    margin: 15px;
                    position: relative;
                    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
                    text-decoration: none;
                    max-width: 500px;
                }

                .contactMePromptA:hover {
                    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
                }

                    .contactMePrompt {
                        display: inline-block;
                        min-height: 200px;
                        padding: 15px;

                        display: flex;
                        align-content: center;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: wrap;

                    }

                        .contactMePrompt  img {
                            display: block;
                            margin: auto;
                            padding: 15px;
                            border-radius: 50%;
                            background-color: #FAD6C0;
                        }

                        .contactMePrompt  h2 {
                            /*margin: auto;*/
                            padding: 6% 3% 3% 3%;
                            text-align: center;
                            color: #2C1414;
                            line-height: 45px;
                            width: 200px;
                            margin: auto;
                        }

                        .contactMePrompt p {
                            text-align: center;
                            margin: auto;
                            margin-top: 25px;
                            /*visibility: hidden;*/
                            display: none;
                        }

                .contactContainer {
                    padding: 20px 50px 50px 50px;
                    margin:  50px auto 0 auto;
                    visibility: hidden;
                    background-color: #DDC1D7;
                    top: 2px;

                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    align-items: flex-start;
                    align-content: center;
                }

                    .contactColumns {
                        max-width: 450px;
                        /*min-width: 350px;*/
                        width: 90%;
                        padding: 15px;
                    }
                    #contactCol1 {

                    }

                        .contactContainer a {
                            color: #E45C44;
                            text-decoration: none;
                            display: block;
                        }

                        .contactContainer a:hover {
                            text-decoration: underline;
                        }

                            .contactContainer a h4 {
                                color: #E45C44;
                            }

                    #contactCol2 {

                    }

                        #elsewhereFlex {
                            display:flex;
                            flex-wrap: nowrap;
                            justify-content: space-around;
                            align-items: center;
                            align-content: center;

                            width: 95%;
                            /*padding: 0 5%;*/
                            margin: auto;
                        }

                                #elsewhereFlex a img {
                                    border-radius: 50%;
                                    background-color: #DDC1D7;

                                    width: 30px;
                                    height: auto;
                                    padding: 3px;
                                    margin: 3px;

                                    display: inline-block;
                                }

                                #elsewhereFlex a img:hover {
                                    background-color: #E45C44;
                                }

                #footer {
                    background-color: #DDC1D7;
                    width: 100%;
                    padding: 50px 0;
                    text-align: center;
                    position: absolute;
                    right: 0;
                    left: 0;
                    bottom: -25px;
                }
                    #backItUp {
                        margin: auto;
                        display: inline-block;
                        color: #E45C44;
                        text-align: center;

                        opacity: 0.75;
                        transition: opacity 0.5s ease
                        transition: font-weight 0.5s ease;
                    }

                    #backItUp:hover {
                        opacity: 1;
                        font-weight: 900;
                        transition: opacity 0.5s ease
                        transition: font-weight 0.5s ease;
                    }
