/*PORTFOLIO*/

#portfolioDescription {
    width: 80%;
    margin: auto;
    margin-top:  25px;

}

    #portfolioDescription p {
        width: auto;
        margin: auto;
        text-align: center;
    }

#portfolioFlexBox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    width: 100%;
    margin: 50px 0;
    padding: 0 20px;
}

.portfolioFlexChildA {
    margin: 15px;
    position: relative;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    text-decoration: none;
    flex-basis: 0;
    flex-grow:  1;
    min-width: 215px;
    max-width: 400px;
}

.portfolioFlexChildA:hover {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
}

    .portfolioFlexChild {
        display: block;
        min-height: 200px;
        padding: 0 0 15px 0;


    }

        .portfolioFlexChild  img {
            display: block;
            width: 100%;
            height: auto;
            margin: auto;
            padding: 0 0 15px 0;
        }

        .portfolioFlexChild  h5 {
            display: block;
            margin: auto;
            text-align: center;
            line-height: 25px;
            margin-bottom: 15px;
            padding: 15px 15px 0 15px;
        }

    #portfolioContact {
        /*height: 200px;*/
        flex-basis: 0;
        flex-grow:  2;
    }
