/*PROJECTS*/

    #exitProjectInfo {
        font-family: 'Roboto', sans-serif;
        font-size: 36px;
        text-decoration: none;
        font-weight: 600;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
        margin-top: 10px;
        color: #2C1414;
        /*color: white;*/
        position: fixed;
        float: right;
        right: 10%;
        bottom: 10%;
        z-index: 30;
    }

    #exitProjectInfo:hover {
        color: #E45C44;
    }


    #projectInfoContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 70%;
        margin: auto;
        padding: 0 0 100px 0;
    }

        #projectInfoContainer *{
            margin: 0 0 20px 0;
        }

        #projectHeaderImg {
            /*width: 100%;*/
            max-width: 1000px;
            width: 100%;
            height: auto;
            min-width:  450px;
        }

        .projectImg {
            cursor: zoom-in;
            max-width: 360px;
            height: auto;
        }

        .projectImg:hover {
            opacity: 0.7;
        }

        .projectDesc {
            padding-bottom: 50px;
            padding-top: 25px;
        }

    #projectModal {
        display: none;
        position: fixed;
        z-index: 20;
        left: 0;
        top: 0;

        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
        cursor: zoom-out;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

        #exitModal {
            font-family: 'Roboto', sans-serif;
            font-size: 36px;
            text-decoration: none;
            font-weight: 600;
            text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
            margin-top: 10px;
            color: white;
            position: fixed;
            float: right;
            right: 10%;

            display: none;
            z-index: 25;
            cursor: pointer;
        }

        #exitModal:hover {
            opacity: 0.85;
        }

        #modalImg {
            margin: auto;
            display: block;
            max-height: 85%;
            width: auto;
            max-width: 90%;
            height: auto;
            /*object-fit: contain;*/
        }

        #modalCaption {
            font-family: 'Roboto', sans-serif;
            font-size: 24px;
            color: white;
            margin: auto;
            text-align: center;
            /*padding: 10px 0;*/
        }
