/*RESUME CSS*/

#abilitiesTitle {
    text-align: center;
    margin: auto;
    padding-top: 25px;
}

#abilitiesFlexBox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 25px 5% 25px 5%;
    width: 90%;
}
    .abilities {
        padding: 25px 15px 25px 15px;
    }

        .abilities img {
            display: block;
            margin: auto;
        }

        .abilities p {
            text-align: center;
            margin: 15px auto 0 auto;
        }


#resumeFlexBox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: stretch;
    width: 100%;
    height: 100%;
    margin: 25px auto 50px auto;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);

}

    #mainResumeInfo {
        min-width: 275px;
        flex-grow: 3;
        flex-basis: 0;
        padding: 15px 30px 50px 30px;
        /*margin-left: 15px;*/
    }

        #mainResumeInfo h2 {
        }

        .resumeInfoFlexBox {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: column;
        }

            .resumeBulletPoint {
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
                align-content: flex-start;
                padding: 15px 0;
                border-bottom: 1px solid #200535;
            }

            .resumeCol1 {

                flex-grow: 2;
                flex-basis: 0;
                margin-right: 35px;
            }

            .resumeCol2 {
                flex-grow: 1;
                flex-basis: 0;
            }

    #resumeSideBar {
        min-width: 200px;
        flex-grow: 1;
        flex-basis: 0;

        background-color: #DDC1D7;
        padding: 30px;
        /*margin-right: 15px;*/
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

        #resumeSideBar img {
            margin: 25px auto 25px auto;
            display: block;
            border-radius: 50%;
            background-color: white;
        }

        #resumeSideBar h1 {
            text-align: center;
        }

        #resumeSideBar h4 {
            font-size: 16px;
            margin: 50px auto 0 auto;

        }

        .resumeSkillBox {
            width: 85%;
            height: 15px;
            margin: 5px auto 5px auto;
            border: 3px solid #2C1414;
        }

            .resumeSkillBar {
                background-color: #E45C44;
                height: 100%;
            }

            #photoshopBar {
                width: 85%;
            }

            #illustratorBar {
                width: 90%;
            }

            #lightroomBar {
                width: 60%;
            }

            #htmlBar {
                width: 60%;
            }

            #jsBar {
                width: 55%;
            }

            #javaBar {
                width: 75%;
            }

            #cBar {
                width: 70%;
            }

        #resumeSideBar #resumePDFLink {
            width: 80%;
            max-width: 275px;
            height: auto;
            margin: 100px auto 25px auto;
            display: block;
            text-align: center;
        }

#resumeContactFlex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

    #resumeContact {
    width: 50%;
    min-width: 250px;
    }


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    #mainResumeInfo > * {
        padding-left: 15px;
        padding-right: 15px;
    }
}
